@import "variables";
@import "mixins";
@import "reset";
@import "toggle";
@import "card";

body {
  font-family: $family-roboto;
  height: 100vh;
  color: #060b35;
  margin: 0;

  @include onTablet {
    height: 100%;
  }
}

.plan{
  &__header {
    margin: 0;
    padding: 20px 0 20px 0;
    @include text-center;
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    padding: 14px;
    gap: 10px;

    @include onTablet {
      flex-wrap: wrap;
    }

    @include onMobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
