@import "variables";
@import "mixins";
@import "reset";
@import "toggle";
@import "card";

body {
  background-image: url(../img/popcorn.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: $family-roboto;
  color: #060b35;
  margin: 0;
}

.plan{
  &__header {
    @include text-center;
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;

    @include onTablet {
      flex-wrap: wrap;
    }

    @include onMobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
